body{
    background-color: rgb(224,231,243);
}
.header-row{
    border: solid rgb(66,107,134);
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0px 10px 0px;
}

#park-name{
    margin-bottom: 10px;
}